<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.9) 0%, rgba(100,100,100,0.3) 50%), url(<%= asset_path 'banner0.jpg' %>)">
  <div class="banner-content">
<h2>Cocktail List</h2>
</div>
<a href="#cocktails">
<i class="fa fa-arrow-down banner-arrow" aria-hidden="true" id="arrow"></i>
</a>
</div>
</div>
<ul id="cocktails">
<div class="cards">

<% @cocktails.each do |c| %>
<div class="card" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.8) 0%, rgba(50,50,50,0.0) 50%),url(<%= asset_path 'footer3.jpg' %>)">

<%= link_to  cocktail_path(c), id: "link-card"  do %>
<% if c.photo? %>
  <div class="card-body" style="background-image: linear-gradient(-225deg, rgba(255,200,0,0.5) 0%, rgba(150,150,150,0.3) 50%), url('<%= cl_image_path c.photo.path%>');" >
    <% else %>
     <div class="card-body" style="background-image: linear-gradient(-225deg, rgba(255,200,0,0.5) 0%, rgba(150,150,150,0.3) 50%), url(<%= asset_path 'framboisita.jpg'%>);" >
      <% end %>
</div>
<div class="card-footer text-center">
<li class="space-between"><p><%= c.name %></p>
</li>
</div>
</div>
<% end %>
<% end %>
</ul>
</div>
<div class="new-cocktail-link">
<%= link_to "Add a Cocktail", new_cocktail_path, class: "new-cocktail"  %>
</div>