
<div class="new-cocktail-container">
<h2>New Cocktail</h2>
<%= form_for(@cocktail) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <%= f.file_field :photo, as: :attachinary %>
  <%= f.submit class: "submit-btn" %>

<% end %>
</div>