

<h2 class="cocktail-title" id="CocktailTitle"><%= @cocktail.name %></h2>
<div class="container-receipe">
  <% if @cocktail.photo? %>
  <div class="cocktail-show-picture" style="background-image: linear-gradient(-225deg, rgba(255,200,0,0.5) 0%, rgba(150,150,150,0.3) 50%), url('<%= cl_image_path @cocktail.photo.path, height: 500 %>');" >
    <% else %>
     <div class="cocktail-show-picture" style="background-image: linear-gradient(-225deg, rgba(255,200,0,0.5) 0%, rgba(150,150,150,0.3) 50%), url(<%= asset_path 'framboisita.jpg'%>);" >
      <% end %>
      </div>

      <div class="ingredients">
<ul class="ingredient-list">


  <% @cocktail.doses.each do |d| %>
<li class="ingredients"><%= Ingredient.find(d.ingredient_id).name %>
<strong><%= d.description %></strong>
<%= link_to "Delete", "/doses/#{d.id}" , method: :delete  %>
</li>
  <% end %>
</ul>

<div class="button-show">
<!-- <div class="add-ingredient">
<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail.id), class: "add-ingredient"  %>
</div> -->

</div>
<div class="new-dose-container">

<%= form_for([@cocktail, @dose]) do |f| %>
<div class="form-group">
  <%= f.select :ingredient_id, @ingredients, {include_blank: 'Select Ingredient'} %><br>
</div>
<div class="form-group">
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
</div>
<div class="form-group create-button">

  <%= f.submit class: "submit-btn new-dose-btn" %>
</div>
<% end %>
</div>

</div>

</div>

<!-- <div class="index text-center">
<%= link_to "Back to index", cocktails_path, class: "index" %>
</div> -->

<script>
function randombg(){
  let random= Math.floor(Math.random() * 6) + 0;
  let bigSize = ["url(<%= asset_path('title.jpg') %>)",
                  "url(<%= asset_path('title2.jpg') %>)",
                  "url(<%= asset_path('title3.jpg') %>)",
                  "url(<%= asset_path('footer.jpg') %>)",
                  "url(<%= asset_path('footer3.jpg') %>)",
                  "url(<%= asset_path('footer2.jpg') %>)",
                  ];
  document.getElementById("CocktailTitle").style.backgroundImage = bigSize[random];
}
randombg()
</script>